body, div {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
}
body {
 	background: white;
}



.bl-list-item-back {
 	border-bottom: 1px solid #EEEEEE;
}

.bl-list-item-detail {
	font-size: 12px;  
	font-weight: 100;
	color: #888888;
}

.bl-list-item-text {
	font-size: 16px;  
	font-weight: 100;	 
	color: #333333;
}
